@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>


<p>This website has been setup to facilitate the promotion of Greenlight Networks through the following neighborhoods:
    <ul>
        <li>Rawlingswood Park</li>
        <li>Greenaway Rd</li>
        <li>Cheswell Way</li>
    </ul></p>

<p>This site (and its data) does not represent Greenlight Networks</p>
